asttokens==2.4.1
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
decorator==5.1.1
distlib==0.3.8
executing==2.0.1
filelock==3.15.4
gensim==4.3.3
idna==3.8
ipython==8.26.0
jedi==0.19.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
mdurl==0.1.2
numpy==1.26.4
opencv-python==4.10.0.84
parso==0.8.4
platformdirs==4.2.2
prompt_toolkit==3.0.47
pure_eval==0.2.3
Pygments==2.18.0
pyshorteners==1.0.1
requests==2.32.3
rich==13.8.1
scipy==1.13.1
six==1.16.0
smart-open==7.0.5
stack-data==0.6.3
tqdm==4.66.5
traitlets==5.14.3
urllib3==2.2.2
virtualenv==20.26.3
wcwidth==0.2.13
wget==3.2
wrapt==1.16.0
